# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref=3.4.1=pypi_0
certifi=2020.6.20=pyhd3eb1b0_3
django=3.2.11=pypi_0
gunicorn=20.1.0=pypi_0
pip=21.3.1=pyhd8ed1ab_0
psycopg2-binary=2.9.3=pypi_0
python=3.6.15=h39d44d4_0_cpython
python_abi=3.6=2_cp36m
pytz=2021.3=pypi_0
setuptools=49.6.0=py36ha15d459_3
sqlparse=0.4.2=pypi_0
typing-extensions=4.0.1=pypi_0
ucrt=10.0.20348.0=h57928b3_0
vc=14.2=hb210afc_5
vs2015_runtime=14.29.30037=h902a5da_5
wheel=0.37.1=pyhd8ed1ab_0
wincertstore=0.2=py36ha15d459_1006
